repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo
        args: ["fmt", "--check"]
        language: system
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo
        args: ["clippy", "--no-deps", "--all-targets", "--", "-D", "warnings"]
        language: system
        pass_filenames: false
