Sphinx==7.3.7
autodoc-pydantic==2.1.0
sphinx-book-theme==1.1.2
sphinx-immaterial==0.11.11
sphinx-copybutton==0.5.2
sphinx_markdown_tables==0.0.17
myst-parser==2.0.0
readthedocs-sphinx-search==0.3.2

pydantic==2.7.0
datamodel-code-generator==0.25.5
