name: CI/CD

on:
  workflow_dispatch:
    inputs:
      release:
        description: "Whether this is a release build"
        required: false
        type: boolean
        default: false
  workflow_call:
    inputs:
      release:
        description: "Whether this is a release build"
        required: false
        type: boolean
        default: false

jobs:
  calculate-version:
    permissions:
      contents: read
    uses: ./.github/workflows/calculate-version.yml
    with:
      release: ${{ inputs.release || false }}
    secrets: inherit

  build:
    needs: calculate-version
    permissions:
      contents: read
    uses: ./.github/workflows/binaries.yml
    with:
      version: ${{ needs.calculate-version.outputs.version }}
    secrets: inherit

  test:
    permissions:
      contents: read
    uses: ./.github/workflows/test.yml
    secrets: inherit

  docker:
    needs: [calculate-version, build, test]
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/docker.yml
    with:
      version: ${{ needs.calculate-version.outputs.version }}
      allow_push: false
    secrets: inherit

  wheels:
    needs: [calculate-version, test]
    permissions:
      contents: read
    uses: ./.github/workflows/wheels-maturin-action.yml
    with:
      version: ${{ needs.calculate-version.outputs.version }}
    secrets: inherit
