name: CI/CD

on:
  workflow_dispatch:
    inputs:
      release:
        description: "Whether this is a release build"
        required: false
        type: boolean
        default: false
      release_branch:
        description: "Branch to treat as the release branch (e.g. main, master)"
        required: false
        type: string
        default: "main"
  workflow_call:
    inputs:
      release:
        description: "Whether this is a release build"
        required: false
        type: boolean
        default: false
      release_branch:
        description: "Branch to treat as the release branch (e.g. main, master)"
        required: true
        type: string

jobs:
  calculate-version:
    permissions:
      contents: read
    uses: ./.github/workflows/calculate-version.yml
    with:
      release: ${{ inputs.release || false }}
      release_branch: ${{ inputs.release_branch }}
    secrets: inherit

  build:
    needs: calculate-version
    permissions:
      contents: read
    uses: ./.github/workflows/binaries.yml
    with:
      version: ${{ needs.calculate-version.outputs.version }}
    secrets: inherit

  test:
    permissions:
      contents: read
    uses: ./.github/workflows/test.yml
    secrets: inherit

  docker:
    needs: [calculate-version, build, test]
    permissions:
      contents: read
      packages: write
    uses: ./.github/workflows/docker.yml
    with:
      version: ${{ needs.calculate-version.outputs.version }}
      release_branch: ${{ inputs.release_branch }}
      allow_push: ${{ inputs.release || false }}
    secrets: inherit

  wheels:
    needs: [calculate-version]
    permissions:
      contents: read
    uses: ./.github/workflows/wheels-maturin-action.yml
    with:
      version: ${{ needs.calculate-version.outputs.version }}
    secrets: inherit

  release:
    needs: [calculate-version, build, wheels, test]
    if: ${{ github.ref == format('refs/heads/{0}', inputs.release_branch) }}
    permissions:
      contents: write
      id-token: write
    uses: ./.github/workflows/release.yml
    with:
      version: ${{ needs.calculate-version.outputs.version }}
      release: ${{ inputs.release || false }}
    secrets: inherit
